@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-image: url('../Images/bernard-hermant-X-Bu9X6gok0-unsplash.jpg');
    background-size: cover;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}


  .background-filter::after {
    -webkit-backdrop-filter: blur(15px); /* Use for Safari 9+, Edge 17+ (not a mistake) and iOS Safari 9.2+ */
    backdrop-filter: blur(15px); /* Supported in Chrome 76 */
  
    content: "";
    display: block;
    position: absolute;
    width: 100%; height: 100%;
  }
  
  .background-filter {
    position: relative;
  }
  
  .background {
    background-image: url('../Images/bernard-hermant-X-Bu9X6gok0-unsplash.jpg');
    size: auto;
  }

.sidebar {
    background-image: linear-gradient(0deg, rgba(183, 181, 204, 0.1) 0%, rgba(28, 108, 185, 0.8) 100%);
}
    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #000000;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: #9CC5A1(255,255,255,0.25);
                color: rgb(27, 44, 80);
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.titles{
    background-color: rgba(183, 181, 204, 0.5);
    background-size: cover;
    color: #000000;
    border-radius: 25px;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: #4D7EA8;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input{
    background-color: #729CCD;
    color: #fff;
    border: 0px;
    border-radius: 25px;
    padding: 1px 10px;
    text-align: center;
    max-width: 20%;
}
textarea{
    background-color: #729CCD;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 1px 10px;
}
select{
    background-color: #729CCD;
    color: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
}