<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">MasterTool</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="ri-shut-down-fill" aria-hidden="true" style="margin: 10px;"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="mainpage">
                <span class="ri-home-2-fill" aria-hidden="true" style="margin: 10px;"></span> Main page
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="DiceRoller">
                <span class="ri-play-fill" aria-hidden="true" style="margin: 10px;"></span> Dice Roller
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="creator/character">
                <span class="ri-user-add-fill" aria-hidden="true" style="margin: 10px;"></span> Create Character
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="creator/item">
                <span class="ri-vip-diamond-fill" aria-hidden="true" style="margin: 10px;"></span> Create Item
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="PartyInventory">
                <span class="ri-shopping-basket-2-fill" aria-hidden="true" style="margin: 10px;"></span> Party Inventory
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="CharacterInfo">
                <span class="ri-information-fill" aria-hidden="true" style="margin: 10px;"></span> Character Info
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
