@page "/CharacterInfo"

@using LiteDB;
@using DnD.Models;
@using DnD.Entities;
@using System.ComponentModel.DataAnnotations;
@inject ICharacterRepository Repo

<h1>Here you'll find all the details of a single character and his inventory</h1>
<h2>Select the character you want info about</h2>
<select>
        @foreach (var dude in characters)
        {
            <option value="@dude.CharacterName">@dude.CharacterName</option>
        }
</select>


@code {

           private var character = characters.First();
    private List<CharacterEntity> characters = new List<CharacterEntity>();

    protected override void OnInitialized()
    {
        characters = Repo.GetAll().ToList();
 
    }

    private int cr = 1;
    private List<CharacterEntity> passed = new List<CharacterEntity>();

    private async Task CharacterRemove(CharacterEntity character)
    {
        if (await js.Confirm($"Are you sure you want to kill {character.CharacterName}?"))
        {
            Repo.Delete(character);
            characters.Remove(character);
        }

    }
    private void TogglePlaying(string characterName)
    {
        Repo.TogglePlaying(characterName);
        var ch = characters.First(c => c.CharacterName == characterName);
        ch.Playing = !ch.Playing;
    }

    private void RollPassivePerception(int cr)
    {
        passed = Repo.GetActiveCharacters().Where(p => p.PassivePerception >= cr).ToList();
    }

}