@page "/"

<h1>Welcome to the MasterTool!</h1>

This is a tool to help you keep track of passive stats and inventory of your players.
<br />
<h2>Select the characters who are playing this session</h2>

@code {


}